/***********************
Imports
************************/

@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);

/***********************
General
************************/

body {
	background: url(../images/bggdl.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
	font-family: 'Arvo', serif;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	list-style: none;
	text-decoration: none;
	outline: none;
	border: none;
	outline: none;
}

/***********************
Helpers
************************/

.clearfix {
	clear: both;
}
.inside {
	width: 960px;
	margin: 0 auto;
}


/***********************
Header
************************/

#header {
	width: 100%;
	height: auto;
	/*background-color: #EEBA4C;*/
}
#header .inside {
	padding: 32px 0 0;
	margin-bottom: -200px;
}
#header ul.navigation {
	text-align: center;
}
#header ul li {
	display: inline-block;
	margin-left: 32px;
}
#header ul li:first-of-type {
	margin-left: 0;
}
#header ul li:hover a {
	padding-bottom: 10px;
	color: #00A99E;
	text-decoration: underline;
}
#header ul li a {
	padding-bottom: 24px;
	display: block;
	color: #74CABD;
	font-weight: 400;
	font-size: 20px;
}

/***********************
About
************************/

#header .about {
	text-align: center;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 350px;
}
#header .about h2 {
	font-size: 44px;
	font-weight: 400;
	padding-top: -40px;
	margin-bottom: 12px;
	color: #fff;
}
#header .about p {
	color: #fff;
	font-size: 38px;
	line-height: 28px;
}
#header .about p strong {
	font-weight: 600;
}
#about {
	background-color: #E3493B;
}

/***********************
Logo
************************/

#logo {
	width: 350px;
	display: block;
	margin: 1px auto 40px;
}

/***********************
Maps
************************/

.maps {
	padding-top: 75px;
	margin-left: -100px;
}

/***********************
Sections
************************/

.section .inside {
	padding: 72px 0;
}
.section h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(0, 0, 0, 0.6);
	display: inline-block;
	margin: 0 auto 24px;
	font-size: 25px;
}
.section p {
	font-family: 'Arvo', serif;
	font-size: 18px;
	line-height: 32px;
	color: rgba(0, 0, 0, 0.68);
}

/***********************
FAQ
************************/

#faq {
	background-color: #23B5AF;
	margin-bottom: -30px;
}
#faq .inside {
	padding-bottom: 0;
}
#faq li {
	margin-bottom: 30px;
}
#faq h4 {
	color: #3A3A3C;
	font-size: 26px;
	margin-bottom: 12px;
}

/***********************
Sponsors
************************/

#sponsors {
	background: #fff;
}
#sponsors .inside {
	padding: 48px;
}
#sponsors .row img {
	display: block;
	margin: 0 auto;
	max-width: 70%;
	vertical-align: middle;
}
#sponsors h3 {
	text-align: center;
	color: #93975C;
	font-weight: 600;
	padding-top: 24px;
	font-size: 24px;
}
#sponsors h3 a {
	text-decoration: underline;
	color: #000;
}

/***********************
Registration
************************/

#registration {
	background-color: #23B5AF;
}

#registration .text {
	color: #3A3A3C;
}

/***********************
Buttons
************************/

.buttons {
	background: #74C9BD;
	font-weight: 600;
	font-size: 14px;
	width: 300px;
	height: 48px;
	display: block;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.buttons a {
	color: #3A3A3C;
	text-align: center;
	line-height: 48px;
	display: block;
	width: 100%;
	height: 100%;
}
.buttons a:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
}

/***********************
Contacto
************************/

#contact {
	text-align: center;
}
#contact p {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #969696;
}
#contact ul {
	margin-top: 32px;
}
#contact ul li {
	display: inline-block;
	margin: 0 16px;
}
#contact ul li a {
	color: #93975C;
	font-size: 32px;
}

/***********************
Footer
************************/

.watermark {
	margin-top: 40px;
	
}
.ti-facebook {
	color: #fff;
	font-size: 40px;
}

.ti-twitter-alt {
	color: #fff;
	font-size: 40px;
}

.ti-email {
	color: #fff;
	font-size: 40px;
}
.ti-instagram {
	color: #fff;
	font-size: 40px;
}
.ti-instagram:hover {
	color: #74C9BD;
}

.ti-facebook:hover {
	color: #74C9BD;
}

.ti-twitter-alt:hover {
	color: #74C9BD;
}

.ti-email:hover {
	color: #74C9BD;
}

/***********************
Mail To
************************/

.mailto:link {
	text-decoration: underline;
	color:#000;
}

.mailto:visited {
	text-decoration: underline;
	color:#000;
	
}

/***********************
Responsive CSS
************************/

@media (max-width: 1160px) {
	.inside {
		width: 80%;
	}
}
@media (max-width: 960px) {
	#header .about {
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 72px;
	}
	.section h2 {
		margin-top: 100px;
	}
}
@media (max-width: 768px) {
	#header ul.navigation li {
		display: block;
		margin-left: 0;
	}
	.section h2 {
		margin-top: 100px;
	}
}
@media (max-width: 400px) {
	#sponsors h3 {
		text-align: center;
		float: left;
		margin-left: -30px;
	}
	.section h2 {
		margin-top: 200px;
	}
	.maps {
		width: 100px;
		height: 50px;
	}
	#contact ul li {
		display: block;
	}
}